In [1]:
muthu = {12:11, 11:9, 10:7, 9:5, 8:3, 7:1}
curr = {12:6, 11:5, 10:4, 9:3, 8:2, 7:1}

In [32]:
import random
import pandas as pd

In [10]:
def WeightedPick(d):
    r = random.uniform(0, sum(d.values()))
    s = 0.0
    for k, w in d.items():
        s += w
        if r < s: return k
    return k

In [12]:
def run_draft(weights):
    copy = weights.copy()
    draft = []
    for num in range(6):
        team = WeightedPick(copy)
        draft.append(team)
        copy[team] = 0
    return draft

In [31]:
run_draft(curr)

[7, 8, 11, 12, 9, 10]

In [35]:
def run_experiment():
    mresults = []
    cresults = []
    for num in range(10000):
        mresults.append(run_draft(muthu))
        cresults.append(run_draft(curr))
    return (pd.DataFrame(mresults), pd.DataFrame(cresults))

In [36]:
(mdraft, cdraft) = run_experiment()

In [38]:
cdraft

       0   1   2   3   4   5
0     11   9  10   8  12   7
1     12   8  11  10   7   9
2      8   9   7  12  11  10
3     12  10  11   9   7   8
4      9   7  10  12  11   8
...   ..  ..  ..  ..  ..  ..
9995  10   9  12   8   7  11
9996  10   8  11  12   9   7
9997  11  12  10   7   8   9
9998  12  10   9  11   8   7
9999  11   7   9  10  12   8

[10000 rows x 6 columns]

In [45]:
def compute_dist(table):
    seven = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0}
    eight = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0}
    nine = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0}
    ten = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0}
    eleven = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0}
    twelve = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0}
    for num in range(6):
        counts = table[num].value_counts()
        seven[num+1] += counts[7]
#         eights[num+1] += counts[8]
    return seven

In [55]:
mseven = compute_dist(mdraft)
cseven = compute_dist(cdraft)

In [56]:
mseven

{1: 285, 2: 352, 3: 446, 4: 734, 5: 1486, 6: 6697}

In [57]:
cseven

{1: 467, 2: 606, 3: 756, 4: 1093, 5: 1761, 6: 5317}

In [58]:
def normalize(d):
    normalized = {}
    total = sum(d.values())
    for k,w in d.items():
        normalized[k] = (float(w)/total)*100.0
    return normalized

In [59]:
normalize(mseven)

{1: 2.85,
 2: 3.52,
 3: 4.46,
 4: 7.340000000000001,
 5: 14.860000000000001,
 6: 66.97}

In [61]:
normalize(cseven)

{1: 4.67,
 2: 6.0600000000000005,
 3: 7.5600000000000005,
 4: 10.93,
 5: 17.61,
 6: 53.169999999999995}